# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Node Modules
node_modules
package-lock.json

# docs
docs/.vuepress/dist/*
docs/guide/.DS_Store
docs/external_*

*/.DS_Store
.idea
.DS_Store