// 颜色
$accentColor = #74a9ff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #74a9ff
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$navbarHeight = 4.2rem
$sidebarWidth = 20rem
$contentWidth = 900px
$homePageWidth = 960px